B2BSolution.Financeiro.Formulario/Service References/EquipamentosService/EquipamentosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EquipamentosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://66.232.110.156:81/EquipamentosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://66.232.110.156:81/EquipamentosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://66.232.110.156:81/EquipamentosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInserirOf_Equipamentos_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="IInserirOf_Equipamentos_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="IListarTodosOf_Equipamentos_ListarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodos" />
  </wsdl:message>
  <wsdl:message name="IListarTodosOf_Equipamentos_ListarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosResponse" />
  </wsdl:message>
  <wsdl:portType name="IInserirOf_Equipamentos">
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/IInserirOf_Equipamentos/Incluir" message="tns:IInserirOf_Equipamentos_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInserirOf_Equipamentos/IncluirResponse" message="tns:IInserirOf_Equipamentos_Incluir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IListarTodosOf_Equipamentos">
    <wsdl:operation name="ListarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IListarTodosOf_Equipamentos/ListarTodos" message="tns:IListarTodosOf_Equipamentos_ListarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListarTodosOf_Equipamentos/ListarTodosResponse" message="tns:IListarTodosOf_Equipamentos_ListarTodos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInserirOf_Equipamentos" type="tns:IInserirOf_Equipamentos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/IInserirOf_Equipamentos/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IListarTodosOf_Equipamentos" type="tns:IListarTodosOf_Equipamentos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTodos">
      <soap:operation soapAction="http://tempuri.org/IListarTodosOf_Equipamentos/ListarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EquipamentosService">
    <wsdl:port name="BasicHttpBinding_IInserirOf_Equipamentos" binding="tns:BasicHttpBinding_IInserirOf_Equipamentos">
      <soap:address location="http://66.232.110.156:81/EquipamentosService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IListarTodosOf_Equipamentos" binding="tns:BasicHttpBinding_IListarTodosOf_Equipamentos">
      <soap:address location="http://66.232.110.156:81/EquipamentosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>