B2BSolution.Financeiro.Formulario/Service References/EquipamentosService/EquipamentosService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Equipamentos">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEquipamento" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSerie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Equipamentos" nillable="true" type="tns:Equipamentos" />
  <xs:complexType name="ArrayOfEquipamentos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equipamentos" nillable="true" type="tns:Equipamentos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipamentos" nillable="true" type="tns:ArrayOfEquipamentos" />
</xs:schema>