B2BSolution.Financeiro.Formulario/Service References/EquipamentosService/EquipamentosService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49407/EquipamentosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" />
  <xs:element name="Incluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" minOccurs="0" name="entidades" nillable="true" type="q1:Equipamentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncluirResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" minOccurs="0" name="entidade" nillable="true" type="q2:Equipamentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" minOccurs="0" name="ListarTodosResult" nillable="true" type="q3:ArrayOfEquipamentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>