B2BSolution.Financeiro.Formulario/Service References/PagamentoService/PagamentoService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pagamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoPagamento" type="xs:int" />
      <xs:element minOccurs="0" name="Contrato" nillable="true" type="tns:Contrato" />
      <xs:element minOccurs="0" name="DataPagamento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pago" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValorGasto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPago" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pagamento" nillable="true" type="tns:Pagamento" />
  <xs:complexType name="Contrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="CadenciaFixa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CadenciaMovel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="DataContrato" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DiaVencimento" type="xs:int" />
      <xs:element minOccurs="0" name="Equipamento" nillable="true" type="tns:Equipamentos" />
      <xs:element minOccurs="0" name="IdContrato" type="xs:int" />
      <xs:element minOccurs="0" name="PrazoContratual" type="xs:int" />
      <xs:element minOccurs="0" name="ValorConsumoMinimo" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorInstalacao" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorMensalidade" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTarifaLdn" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTarifaLocal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTarifaVc1" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTarifaVc2" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorTarifaVc3" type="xs:decimal" />
      <xs:element minOccurs="0" name="Vendedor" nillable="true" type="tns:Vendedores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contrato" nillable="true" type="tns:Contrato" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOCUMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fl_ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="id_contato" nillable="true" type="tns:Contato" />
      <xs:element minOccurs="0" name="id_endereco" nillable="true" type="tns:Endereco" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tp_pessoa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Contato">
    <xs:sequence>
      <xs:element minOccurs="0" name="NOME_CONTATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_contato" type="xs:int" />
      <xs:element minOccurs="0" name="telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contato" nillable="true" type="tns:Contato" />
  <xs:complexType name="Endereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_endereco" type="xs:int" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rua" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Endereco" nillable="true" type="tns:Endereco" />
  <xs:complexType name="Equipamentos">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEquipamento" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSerie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Equipamentos" nillable="true" type="tns:Equipamentos" />
  <xs:complexType name="Vendedores">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMISSAO_VENDEDOR" type="xs:decimal" />
      <xs:element minOccurs="0" name="DOCUMENTO_VENDEDOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FL_ATIVO_VENDEDOR" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID_CONTATO_VENDEDOR" nillable="true" type="tns:Contato" />
      <xs:element minOccurs="0" name="ID_ENDERECO_VENDENDOR" nillable="true" type="tns:Endereco" />
      <xs:element minOccurs="0" name="ID_SUPERIOR" type="xs:int" />
      <xs:element minOccurs="0" name="ID_VENDEDOR_V" type="xs:int" />
      <xs:element minOccurs="0" name="NOME_VENDEDOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TP_VENDEDOR" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vendedores" nillable="true" type="tns:Vendedores" />
  <xs:complexType name="ArrayOfPagamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pagamento" nillable="true" type="tns:Pagamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPagamento" nillable="true" type="tns:ArrayOfPagamento" />
</xs:schema>