B2BSolution.Financeiro.Formulario/Service References/PagamentoService/PagamentoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PagamentoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://66.232.110.155:81/PagamentoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://66.232.110.155:81/PagamentoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://66.232.110.155:81/PagamentoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInserirOf_Pagamento_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="IInserirOf_Pagamento_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="IListarTodosOf_Pagamento_ListarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodos" />
  </wsdl:message>
  <wsdl:message name="IListarTodosOf_Pagamento_ListarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IEntidadeOf_Pagamento_Entidade_InputMessage">
    <wsdl:part name="parameters" element="tns:Entidade" />
  </wsdl:message>
  <wsdl:message name="IEntidadeOf_Pagamento_Entidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:EntidadeResponse" />
  </wsdl:message>
  <wsdl:message name="IParametroListaOf_Pagamento_EntidadeParametro_InputMessage">
    <wsdl:part name="parameters" element="tns:EntidadeParametro" />
  </wsdl:message>
  <wsdl:message name="IParametroListaOf_Pagamento_EntidadeParametro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EntidadeParametroResponse" />
  </wsdl:message>
  <wsdl:message name="IDeletar_Deletar_InputMessage">
    <wsdl:part name="parameters" element="tns:Deletar" />
  </wsdl:message>
  <wsdl:message name="IDeletar_Deletar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarResponse" />
  </wsdl:message>
  <wsdl:portType name="IInserirOf_Pagamento">
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/IInserirOf_Pagamento/Incluir" message="tns:IInserirOf_Pagamento_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInserirOf_Pagamento/IncluirResponse" message="tns:IInserirOf_Pagamento_Incluir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IListarTodosOf_Pagamento">
    <wsdl:operation name="ListarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IListarTodosOf_Pagamento/ListarTodos" message="tns:IListarTodosOf_Pagamento_ListarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListarTodosOf_Pagamento/ListarTodosResponse" message="tns:IListarTodosOf_Pagamento_ListarTodos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IEntidadeOf_Pagamento">
    <wsdl:operation name="Entidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntidadeOf_Pagamento/Entidade" message="tns:IEntidadeOf_Pagamento_Entidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntidadeOf_Pagamento/EntidadeResponse" message="tns:IEntidadeOf_Pagamento_Entidade_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IParametroListaOf_Pagamento">
    <wsdl:operation name="EntidadeParametro">
      <wsdl:input wsaw:Action="http://tempuri.org/IParametroListaOf_Pagamento/EntidadeParametro" message="tns:IParametroListaOf_Pagamento_EntidadeParametro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParametroListaOf_Pagamento/EntidadeParametroResponse" message="tns:IParametroListaOf_Pagamento_EntidadeParametro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDeletar">
    <wsdl:operation name="Deletar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeletar/Deletar" message="tns:IDeletar_Deletar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeletar/DeletarResponse" message="tns:IDeletar_Deletar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInserirOf_Pagamento" type="tns:IInserirOf_Pagamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/IInserirOf_Pagamento/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IListarTodosOf_Pagamento" type="tns:IListarTodosOf_Pagamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTodos">
      <soap:operation soapAction="http://tempuri.org/IListarTodosOf_Pagamento/ListarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IEntidadeOf_Pagamento" type="tns:IEntidadeOf_Pagamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Entidade">
      <soap:operation soapAction="http://tempuri.org/IEntidadeOf_Pagamento/Entidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IParametroListaOf_Pagamento" type="tns:IParametroListaOf_Pagamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EntidadeParametro">
      <soap:operation soapAction="http://tempuri.org/IParametroListaOf_Pagamento/EntidadeParametro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDeletar" type="tns:IDeletar">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Deletar">
      <soap:operation soapAction="http://tempuri.org/IDeletar/Deletar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PagamentoService">
    <wsdl:port name="BasicHttpBinding_IInserirOf_Pagamento" binding="tns:BasicHttpBinding_IInserirOf_Pagamento">
      <soap:address location="http://66.232.110.155:81/PagamentoService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IListarTodosOf_Pagamento" binding="tns:BasicHttpBinding_IListarTodosOf_Pagamento">
      <soap:address location="http://66.232.110.155:81/PagamentoService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IEntidadeOf_Pagamento" binding="tns:BasicHttpBinding_IEntidadeOf_Pagamento">
      <soap:address location="http://66.232.110.155:81/PagamentoService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IParametroListaOf_Pagamento" binding="tns:BasicHttpBinding_IParametroListaOf_Pagamento">
      <soap:address location="http://66.232.110.155:81/PagamentoService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDeletar" binding="tns:BasicHttpBinding_IDeletar">
      <soap:address location="http://66.232.110.155:81/PagamentoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>