B2BSolution.Financeiro.Formulario/Service References/ClienteService/ClienteService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49407/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" />
  <xs:element name="Entidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" minOccurs="0" name="EntidadeResult" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" minOccurs="0" name="entidade" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Incluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" minOccurs="0" name="entidades" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncluirResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" minOccurs="0" name="ListarResult" nillable="true" type="q4:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>