B2BSolution.Financeiro.Formulario/Service References/ClienteService/ClienteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOCUMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fl_ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="id_contato" nillable="true" type="tns:Contato" />
      <xs:element minOccurs="0" name="id_endereco" nillable="true" type="tns:Endereco" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tp_pessoa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Contato">
    <xs:sequence>
      <xs:element minOccurs="0" name="NOME_CONTATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_contato" type="xs:int" />
      <xs:element minOccurs="0" name="telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contato" nillable="true" type="tns:Contato" />
  <xs:complexType name="Endereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_endereco" type="xs:int" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rua" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Endereco" nillable="true" type="tns:Endereco" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
</xs:schema>