B2BSolution.Financeiro.Formulario/Service References/ClienteService/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://66.232.110.156:81/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://66.232.110.156:81/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://66.232.110.156:81/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntidadeOf_Cliente_Entidade_InputMessage">
    <wsdl:part name="parameters" element="tns:Entidade" />
  </wsdl:message>
  <wsdl:message name="IEntidadeOf_Cliente_Entidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:EntidadeResponse" />
  </wsdl:message>
  <wsdl:message name="IAlterarOf_Cliente_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="IAlterarOf_Cliente_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="IInserirOf_Cliente_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="IInserirOf_Cliente_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="IListarOf_Cliente_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IListarOf_Cliente_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntidadeOf_Cliente">
    <wsdl:operation name="Entidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntidadeOf_Cliente/Entidade" message="tns:IEntidadeOf_Cliente_Entidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntidadeOf_Cliente/EntidadeResponse" message="tns:IEntidadeOf_Cliente_Entidade_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAlterarOf_Cliente">
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlterarOf_Cliente/Alterar" message="tns:IAlterarOf_Cliente_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlterarOf_Cliente/AlterarResponse" message="tns:IAlterarOf_Cliente_Alterar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IInserirOf_Cliente">
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/IInserirOf_Cliente/Incluir" message="tns:IInserirOf_Cliente_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInserirOf_Cliente/IncluirResponse" message="tns:IInserirOf_Cliente_Incluir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IListarOf_Cliente">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IListarOf_Cliente/Listar" message="tns:IListarOf_Cliente_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListarOf_Cliente/ListarResponse" message="tns:IListarOf_Cliente_Listar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntidadeOf_Cliente" type="tns:IEntidadeOf_Cliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Entidade">
      <soap:operation soapAction="http://tempuri.org/IEntidadeOf_Cliente/Entidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAlterarOf_Cliente" type="tns:IAlterarOf_Cliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/IAlterarOf_Cliente/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IInserirOf_Cliente" type="tns:IInserirOf_Cliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/IInserirOf_Cliente/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IListarOf_Cliente" type="tns:IListarOf_Cliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IListarOf_Cliente/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IEntidadeOf_Cliente" binding="tns:BasicHttpBinding_IEntidadeOf_Cliente">
      <soap:address location="http://66.232.110.156:81/ClienteService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAlterarOf_Cliente" binding="tns:BasicHttpBinding_IAlterarOf_Cliente">
      <soap:address location="http://66.232.110.156:81/ClienteService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IInserirOf_Cliente" binding="tns:BasicHttpBinding_IInserirOf_Cliente">
      <soap:address location="http://66.232.110.156:81/ClienteService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IListarOf_Cliente" binding="tns:BasicHttpBinding_IListarOf_Cliente">
      <soap:address location="http://66.232.110.156:81/ClienteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>