B2BSolution.Financeiro.Formulario/Service References/VendedoresService/VendedoresService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/B2BSolution.Financeiro.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vendedores">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMISSAO_VENDEDOR" type="xs:decimal" />
      <xs:element minOccurs="0" name="DOCUMENTO_VENDEDOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FL_ATIVO_VENDEDOR" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID_CONTATO_VENDEDOR" nillable="true" type="tns:Contato" />
      <xs:element minOccurs="0" name="ID_ENDERECO_VENDENDOR" nillable="true" type="tns:Endereco" />
      <xs:element minOccurs="0" name="ID_SUPERIOR" type="xs:int" />
      <xs:element minOccurs="0" name="ID_VENDEDOR_V" type="xs:int" />
      <xs:element minOccurs="0" name="NOME_VENDEDOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TP_VENDEDOR" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vendedores" nillable="true" type="tns:Vendedores" />
  <xs:complexType name="Contato">
    <xs:sequence>
      <xs:element minOccurs="0" name="NOME_CONTATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_contato" type="xs:int" />
      <xs:element minOccurs="0" name="telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contato" nillable="true" type="tns:Contato" />
  <xs:complexType name="Endereco">
    <xs:sequence>
      <xs:element minOccurs="0" name="bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="complemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_endereco" type="xs:int" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rua" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Endereco" nillable="true" type="tns:Endereco" />
  <xs:complexType name="ArrayOfVendedores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vendedores" nillable="true" type="tns:Vendedores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendedores" nillable="true" type="tns:ArrayOfVendedores" />
</xs:schema>